* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  min-height: 100vh;
  display: flex;
  background-color: #f5d0fe;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  min-height: 20vh;
  min-width: 30vw;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

.save-button {
  background-color: #d946ef;
  border-radius: 5px;
  margin: 10px;
  color: #ffffff;
  padding: 6px;
}
